.CreateEvent {
  text-align: left;
}

.CreateEvent-switch {
  max-width: 250px;
  text-align: left;
  margin: 8px;
  margin-left: 32px;
}

.CreateEvent-menu {
  max-width: 400px;
  text-align: left;
  margin: 8px;
}

.CreateEvent-spinner {
  width: 85vw !important;
}

.CreateEvent-button {
  margin-top: 8px;
}

.CreateEvent-input {
  max-height: 8vh !important;
}

.fab {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 16px;
}
