.CreateEvent {
  text-align: left;
}

.CreateEvent-list {
  margin-bottom: 72px;
}

.CreateEvent-switch {
  max-width: 250px;
  text-align: left;
  margin: 8px;
  margin-left: 32px;
}

.fab {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 16px;
}
