.Home {
  margin: 0 auto;
}

.Home-title-conatiner {
  margin: 0 auto;
}

.Home-title {
  margin: 0 auto;
  display: inline-block;
}

img {
  height: 50px;
  display: inline-block;
}

.Home-button {
  margin: 30% auto;
}

.Home-link {
  margin: 0 auto;
  display: block;
}
